.socials {
  margin: 0.2em 0; }

.socials * {
  box-sizing: border-box; }

.social {
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0.6em 0.3em 0; }

.social:last-child {
  margin-right: 0; }

.social-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1.3em; }

img.social-logo {
  width: auto;
  height: 1em; }

.social-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  margin-right: 3px;
  margin-bottom: 3px; }

.social-label {
  padding-left: 0.3em;
  vertical-align: middle; }

.social-link .collapse {
  background-image: url(share.png); }
