.social-link.collapsable {
  background: #1922a0;
  border: 1px solid #161d8a; }
  .social-link.collapsable:hover {
    background: #121974; }

.social-link.twitter {
  background: #00aced;
  border: 1px solid #0099d4; }
  .social-link.twitter:hover {
    background: #0087ba; }

.social-link.facebook {
  background: #3b5998;
  border: 1px solid #344e86; }
  .social-link.facebook:hover {
    background: #2d4373; }

.social-link.googleplus {
  background: #dd4b39;
  border: 1px solid #d73925; }
  .social-link.googleplus:hover {
    background: #c23321; }

.social-link.linkedin {
  background: #007bb6;
  border: 1px solid #006a9d; }
  .social-link.linkedin:hover {
    background: #005983; }

.social-link.pinterest {
  background: #cb2027;
  border: 1px solid #b51d23; }
  .social-link.pinterest:hover {
    background: #9f191f; }

.social-link.email {
  background: #3490F3;
  border: 1px solid #1c83f2; }
  .social-link.email:hover {
    background: #0e76e6; }

.social-link.stumbleupon {
  background: #eb4823;
  border: 1px solid #e03a14; }
  .social-link.stumbleupon:hover {
    background: #c93412; }

.social-link.whatsapp {
  background: #29a628;
  border: 1px solid #249123; }
  .social-link.whatsapp:hover {
    background: #1f7d1e; }

.social-link.telegram {
  background: #2ca5e0;
  border: 1px solid #1f98d3; }
  .social-link.telegram:hover {
    background: #1c88bd; }

.social-link.line {
  background: #25af00;
  border: 1px solid #209600; }
  .social-link.line:hover {
    background: #1a7c00; }

.social-link.viber {
  background: #7b519d;
  border: 1px solid #6e488c; }
  .social-link.viber:hover {
    background: #61407b; }

.social-link.pocket {
  background: #ef4056;
  border: 1px solid #ed2841; }
  .social-link.pocket:hover {
    background: #e9132e; }

.social-link.messenger {
  background: #0084ff;
  border: 1px solid #0077e6; }
  .social-link.messenger:hover {
    background: #006acc; }

.social-link.browser-messenger {
  background: #0084ff;
  border: 1px solid #0077e6; }
  .social-link.browser-messenger:hover {
    background: #006acc; }

.social-link.vkontakte {
  background: #45668e;
  border: 1px solid #3d5a7d; }
  .social-link.vkontakte:hover {
    background: #344d6c; }

.social-link.rss {
  background: #ff9900;
  border: 1px solid #e68a00; }
  .social-link.rss:hover {
    background: #cc7a00; }

.social-link.sms {
  background: #ffbd00;
  border: 1px solid #e6aa00; }
  .social-link.sms:hover {
    background: #cc9700; }

.social-link.reddit {
  background: #64a4ff;
  border: 1px solid #4b95ff; }
  .social-link.reddit:hover {
    background: #3186ff; }

.social-link.slack {
  background: #fff;
  border: 1px solid #f2f2f2; }
  .social-link.slack:hover {
    background: #e6e6e6; }

.social-link {
  padding: .5em .6em;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #fff;
  overflow: hidden;
  max-height: 20px;
  min-height: 20px;
  margin-top: 25px; }
  .social-link:hover, .social-link:focus, .social-link:active {
    color: #fff; }

.social-link:hover {
  transition: top 0.2s linear;
  max-height: 45px;
  min-height: 45px;
  margin-top: 0px; }
